@use '../../Styles/Partials/Styles' as *;


.chat-container{
    width: 100%;
    height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-chat{
    width: 280px;
    margin: auto;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 2px 5px 0px #0b0b0b;
    border-radius: 6px;
    color: #46c7e4;
    background: linear-gradient(180deg, #1d2727, #202028);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#46c7e4;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chat-messages{
    width: 100%;
    height: 70vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
   align-items: center;
   border-radius: 6px;
   background: linear-gradient(180deg, #1d2727, #202028);

    overflow: scroll;
    @include for-tablet{
        width: 90%;
        padding: 20px;
    }
    
}
.message{
    width: 290px;
    border-top: 1px solid black;
    border-bottom:1px solid black; 
    background: linear-gradient(180deg, #1d2727, #202028);

    padding: 10px;
    border-radius: 6px;
    margin: 2px;
    @include for-tablet{
        width: 50%;
    }
}
.chat-msg{
    height: fit-content;
    background: linear-gradient(180deg, #1d2727, #202028);
     color: #fff;
     font-weight: 600;
     border-radius: 6px;
     padding: 10px;
     overflow-wrap: break-word;
     white-space: normal;
     box-shadow: 0px 2px 5px 0px #0b0b0b;
 
    
}
.img-chat{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 5px 0px #0b0b0b;
}
.chat-name{
    font-weight: 600;
    color: #46c7e4;
}
.chat-img-timestamp{
    display: flex;
    justify-content: space-between;
    span{
        font-weight: 600;
    }
}

.message-btns-container{
    width: 300px;
}
.chat-btn{
    width: 20%;
    color: #fff;
    border: none;
    &:hover{
        transform: scale(1.2);
        transition-duration: 500ms;
    }
    &__delete{
        background: linear-gradient(180deg, #1d2727, #202028);
        color:#b8270a ;
    }
    &__edit{
        color:#56b7e8 ;
        background: linear-gradient(180deg, #1d2727, #202028);
    }
}
.new-message{
    width: 300px;
    display: flex;
    margin-bottom: 30px;
    margin-top: 5px;
    @include for-tablet{
        width: 50%;
    }
}

.chat-send-input{
    background: linear-gradient(180deg, #1d2727, #202028);
    width: 100%;
    height: 30px;
    color: #fff;
    font-weight: 600;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
}
.chat-send-btn:hover{
    box-shadow: 0px 2px 5px 0px #1b82b1;
    transform: scale(1.2);
    transition-duration: 500ms;
    cursor: pointer;
}
.chat-send-btn{
    background: linear-gradient(180deg, #1d2727, #202028);
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
    border: none;
}